fastapi
uvicorn
streamlit
pandas
numpy
scikit-learn
joblib
matplotlib
sqlalchemy
psycopg2-binary
requests
python-multipart
python-dotenv
plotly
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
fastapi
uvicorn
streamlit
pandas
numpy
scikit-learn
joblib
matplotlib
sqlalchemy
psycopg2-binary
requests
python-multipart
